<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Podaci o korisniku</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div class="container">
    <h1>Dobrodošli na našu stranicu!</h1>

        <h2>Hvala Vam što ste se ulogirali!</span>!</h2>
        <div class="text">
        <p>Kao prijavljeni korisnik, imate pristup ekskluzivnim sadržajima i dodatnim funkcijama.</p>
        <p>Ovdje su neki podaci o Vašem korisničkom profilu:</p>
        <ul>
            <li><strong>Ime:</strong> Test User</li>
            <li><strong>Email:</strong> nlkibymqohqyibpvid@ytnhy.com</li>
            <li><strong>Datum pridruživanja:</strong> November 10th 2024, 4:41:25 PM</li>
        </ul>
    </div>

    <a href="/">
        <button class="bac_buttons">Vrati se na početnu stranicu</button>
    </a>
</div>
</body>
</html>
